* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  /* background-image: url(/backGround.jpg); */
  color: white;
}
.header {
  height: auto;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  border-bottom: 2px solid salmon;
}
a {
  color: black;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  width: 90vw;
}

.header-container {
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

p {
  font-size: 15px;
  line-height: 25px;
}

.flex-column {
  flex-direction: column;
}

.info {
  align-items: center;
  justify-content: center;
}
.information,
.more-info {
  height: 100%;
}

.more-info {
  max-width: 1400px;
  margin: 0 auto;
  width: 90vw;
}
.img-container {
  width: 80px;
  height: 80px;
  display: flex;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profiles {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 2rem;
  padding: 20px 0;
  border-bottom: 1px solid salmon;
  align-items: flex-start;
}

.profiles > p {
  color: salmon;
  font-size: 25px;
  font-weight: 500;
}
.profile ul li {
  margin-bottom: 30px;
}
.profile h4 {
  margin-bottom: 15px;
  opacity: 0.75;
}
.profiles h3 {
  margin-bottom: 20px;
}

.profile h5 {
  margin-bottom: 15px;
}

.projects {
  margin-top: 20px;
  margin-left: 20px;
}

.skills {
  font-weight: 300;
  font-size: 15px;
}

/* Nav section */
nav {
  max-width: 1400px;
  margin: 0 auto;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: auto;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100px;
}

.logo-container a {
  border: 2px solid salmon;
  padding: 10px 50px;
  color: black;
  outline: none;
  background: transparent;
  transition: 0.3s ease;
  text-decoration: none;
}

.logo-container a:hover {
  background: salmon;
  color: white;
  cursor: pointer;
}

.ay {
  border: none;
  outline: none;
}

.nav-container a,
.nav-container button {
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  transition: 0.3s ease;
}

.nav-container a {
  color: salmon;
  text-decoration: none;
  height: 100%;
  font-size: 20px;
}

.nav-container a:hover {
  text-decoration: underline;
}

.nav-container button {
  padding: 10px;
  background-color: transparent;
  outline: none;
  border: 2px solid black;
  transform: var(--transition);
}

.nav-container button:hover {
  background-color: black;
  transition: var(--transition);
  color: white;
}

.navToggle {
  display: none;
}
#mobileToggle i:nth-child(2) {
  display: none;
}

.hero {
  width: 100%;
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.hero-container a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .header-container {
    flex-direction: column;
  }
  .hero-container h1,
  h2,
  h3,
  h4 {
    text-align: center;
  }
  .more-info {
    margin-top: 20px;
  }
  .profiles {
    grid-template-columns: 1fr;
  }
  .logo-img {
    width: 500px;
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  /* Header media queries */
  nav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .mobileContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .navToggle {
    display: block;
    cursor: pointer;
  }

  .nav-container {
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    height: 0;
    font-size: 100px;
    transition: 0.3s ease;
    align-items: flex-start;
    background-color: #f1f1f1;
  }

  .show-nav-container {
    height: 6rem;
    padding-top: 15px;
    margin-top: 10px;
  }
  .navToggle i {
    font-size: 2rem;
  }
  .logo-img {
    width: 200px;
    height: 100%;
  }
  #mobileToggle.is-active i:nth-child(1) {
    display: none;
  }
  #mobileToggle.is-active i:nth-child(2) {
    display: block;
  }
  .information h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .information h4 {
    opacity: 0.75;
  }
  .img-container {
    margin-right: 10px;
  }
}
